body { background: yellow }

.filterbox {
 width: 50%;
 background: white;
}

button, input{
 border: 0;
 padding: 0;
 margin-left: 20px;
}

.checkout { 
 left: 0; margin-left: -0.5rem;
 margin-top: 0rem; margin-bottom: 0rem;
 border:0; outline: none;background-color:#fff;
 height: 70px; width: 70px; 
}
.checkout img{ 
 width: 70px; height: 70px; 
 -webkit-filter:  brightness(5%); filter: brightness(5%);
}
.checkout img:hover {
 -webkit-filter:  brightness(80%); filter: brightness(80%);
}